.character{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.character-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}


.character-list__name{
    margin: 10px;
}
